/** Flex Box  **/
.container {
    width: 61.2%;
}

.flex {
    display: flex;
}
.f-center {
    justify-content: center;
    align-items: center;
}
.f-start {
    justify-content: flex-start;
    align-items: flex-start;
}
.f-left{
    justify-content: flex-start;
}
.f-right {
    justify-content: flex-end;
}
.f-column{
    flex-direction: column;
}

/** Element size in page **/
.f-10 {
    width: 100%;
    box-sizing: border-box;
}

.f-9 {
    width: 90%;
    box-sizing: border-box;
}

.f-8 {
    width: 80%;
    box-sizing: border-box;
}

.f-7-5 {
    width: 75%;
    box-sizing: border-box;
}

.f-7 {
    width: 70%;
    box-sizing: border-box;
}

.f-6 {
    width: 60%;
    box-sizing: border-box;
}

.f-5 {
    width: 50%;
    box-sizing: border-box;
}

.f-4 {
    width: 40%;
    box-sizing: border-box;
}

.f-3 {
    width: 30%;
    box-sizing: border-box;
}

.f-2-5 {
    width: 25%;
    box-sizing: border-box;
}

.f-2 {
    width: 20%;
    box-sizing: border-box;
}

.f-1 {
    width: 10%;
    box-sizing: border-box;
}

/** Links **/
.link {
    color: #aaa;
}

.link:hover {
    color: #333;
}

/** Header and Header Links **/
.h-link {
    padding: 15px 0px;
    margin-left: 25px;
    font-size: 14px;
}

.logo-link {
   color: #333;
   margin-top: 11px;
   font-size: 24px;
}
.header1{
    font-size: 33px;
    font-weight: 400;
}

/** Images of the Posts **/

.blog-image {
    display: block;
    height: 180px;
    width: 190px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



/** Tags and pragraph style **/
.tag{
    color: #aaa;
    margin: 15px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.prag{
    font-size: 14px;
    color: #aaa;
    letter-spacing: 1px;
}