/** Flex Box  **/
.container {
    width: 61.2%;
}

.flex {
    display: flex;
}
.f-center {
    justify-content: center;
    align-items: center;
}
.f-start {
    justify-content: flex-start;
    align-items: flex-start;
}
.f-left{
    justify-content: flex-start;
}
.f-right {
    justify-content: flex-end;
}
.f-column{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}

/** Font Size **/
.font-size-small{
    font-size: 14px;
}

/** Element size in page **/
.f-10 {
    width: 100%;
    box-sizing: border-box;
}

.f-9 {
    width: 90%;
    box-sizing: border-box;
}

.f-8 {
    width: 80%;
    box-sizing: border-box;
}

.f-7-5 {
    width: 75%;
    box-sizing: border-box;
}

.f-7 {
    width: 70%;
    box-sizing: border-box;
}

.f-6 {
    width: 60%;
    box-sizing: border-box;
}

.f-5 {
    width: 50%;
    box-sizing: border-box;
}

.f-4 {
    width: 40%;
    box-sizing: border-box;
}

.f-3 {
    width: 30%;
    box-sizing: border-box;
}

.f-2-5 {
    width: 25%;
    box-sizing: border-box;
}

.f-2 {
    width: 20%;
    box-sizing: border-box;
}

.f-1 {
    width: 10%;
    box-sizing: border-box;
}

/** Links **/
.link {
    color: #aaa;
}

.link:hover {
    color: #333;
}

/** Header and Header Links **/
.h-link {
    padding: 15px 0px;
    margin-left: 25px;
    font-size: 14px;
}

.logo-link {
   color: #333;
   margin-top: 11px;
   font-size: 24px;
} 
.header1{
    font-size: 33px;
    font-weight: 400;
}

/** Images of the Posts **/

.blog-image {
    display: block;
    height: 180px;
    width: 190px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



/** Tags and pragraph style **/
.tag{
    color: #aaa;
    margin: 15px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.prag{
    font-size: 14px;
    color: #aaa;
    letter-spacing: 1px;
}
.prag-black {
    color: #333;
}

/** Make Padding and Margin **/
.padding-20{
    padding: 20px;
}
.paddingBt-20{
    padding-bottom: 20px;
}
.paddingTopBt-10{
    padding: 10px 0;
}
.marginTop-25{
    margin-top: 25px;
}
.marginBt-20{
    margin-bottom: 20px;
}

/** Profile Picture **/
.profile{
    width: 70%;
    margin: 0 auto;
}
.p-circle{
    border-radius: 50%;
}

/** Horizontal Line **/
.gray-rule{
    background-color: rgb(216, 215, 215);
    height: 1.05px;
    width: 60%;
    padding: 0;
    margin: 0;
}

/** Social Media Logos  **/
.l-logo-parent{
    justify-content: space-between;
}
.l-logo-parent a{
    display: inline;
    margin-bottom: 10px;
}
.l-logo {
    margin-top: 10px;
}

/** fixed link **/
.fixed{
    position: fixed;
    z-index: 1000;
}